.App {
    font-family: sans-serif;
    text-align: center;
  }
.AppBar{
  display: flex;
}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 12px 0px;
  margin: 0px 24px;
}
