.App {
  font-family: sans-serif;
}

ul {
  display: flex;
  font-size: medium;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: 20px;
}

@media only screen and (max-width:700px) {
  ul {
    display: flex;
    justify-content: left;
    margin-right: 3%;

  }

}

ul::-webkit-scrollbar {
  display: none;
}

li {
  justify-content: space-between;
  list-style: none;
  padding: 2px 4rem;
}

@media only screen and (max-width:700px) {
  li {
    padding-inline: 2rem;
  }
}